:root{
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --greyBlack: #222222;
    --grey: #4d4d4d;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --brightfuckingred: #ff002b;
    --silverChalice: #b1a7a6;
    --lightGrey: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Fanwood+Text:ital@0;1&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
 box-sizing:border-box;
}
#index {

}
#header {
 transition: all 0.2s ease;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 height: 95px;
 padding-top: 100px;
 z-index:999;
}

#header.visiblebg {
 background-color: #222 !important;
}
#mainSlideShow{
  z-index:998;
  height: 0;
  padding-top: 45%;
  background-attachment: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-size: cover !important;
  -webkit-animation: slideShows ease-in-out 25s both infinite;
  -moz-animation: slideShows ease-in-out 25s both infinite;
  -o-animation: slideShows ease-in-out 25s both infinite;
  animation: slideShows ease-in-out 25s both infinite;
  background-repeat: no-repeat;
background: url(../img/19.png), url(../img/19.png);
}
@keyframes slideShows{
  0% {
    background-image: url(../img/19.png), url(../img/19.png)
  }
  25%{
    background-image: url(../img/19.png), url(../img/4.png)
  }
  50%{
    background-image: url(../img/4.png), url(../img/71.png)
  }
  75%{
    background-image: url(../img/71.png), url(../img/55.png)
  }
  100% {
    background-image: url(../img/55.png), url(../img/19.png)
  }
}
#mainSlideShow .container-xxl {
  position: relative;
  z-index: 998;
  top: -20vh;
  padding-top: 0vh;
  color:var(--cutltured);
  font-family: 'Merriweather', serif;
  font-size: 1.7em;
}
#mainSlideShow h2 {
  padding-left: 200px;
  font-size: 1.4em;
}
#mainSlideShow p {
  margin-left: 100px;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
}
#mainSlideShow h1, h2, p{
  opacity: 0;
}
.jumbotron {
 z-index: 1;
 position:relative;
}
.slick-slider {
	display: table !important;
	table-layout: fixed !important;
	width: 100%;
}
.container-fluid.height.visiblebg {
  height: 22vh;
}
.container-fluid {
  max-width: 1220px;
  margin: auto;
  opacity: 1;
  background-color:rgba(0,0,0,0);
}
.container-fluid.visiblebg {
  background-color: #222;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
nav.navbar {
  margin: auto;
  background-color:rgba(0,0,0,0);
  max-width: 1220px;
  padding-top: 30px;
}
.navbar-brand { 
  float: left;
}
.navbar-brand>img {
  max-height: 6.5vh;
  max-width: 6.5vh;
}

.navbar-brand:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(150%);
}

.navbar-brand-text {
  font-size: 1.4em;
  letter-spacing: 3px;
  color: var(--richBlack);
  margin: 0 1.4em 0 0;
  text-decoration: none;
  font-weight: 365;
  text-transform: capitalize;
}
.navbar-brand-text:after {
  position: absolute;
  color: var(--cutltured);
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--brightfuckingred);
  transition: transform 0.05s;
  transform: scaleX(0);
  transform-origin: top;
}
.navbar-nav {
  margin-right: 40px;
}
.navbar-brand-text:hover {
  text-decoration-color: var(--brightfuckingred);
  filter: invert(60%) sepia(82%) saturate(6261%) hue-rotate(344deg) brightness(101%) contrast(114%);
}
.nav-bar-brand-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}
.nav-icons{
  margin: auto;
 }
.navbar.transparent.navbar-inverse, 
.navbar-inner {
  background: var(--cutltured,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 0rem;
  background: var(--cutltured,0.4);
}
.navbar-icon{
  font-size: 1.25em;
  color: var(--cutltured);
}
.navbar-toggler{
  color: none;
  width: 1px;
  height: 1px;
  position: relative;
  transition: .5s ease-in-out;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.nvabar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding:0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--cutltured);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: roatate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
.toggled {
  float: right;
}
/* when nav is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}
/* navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: -8px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 8px;
  transform: rotate(0deg);
}
.nav-item{
  text-align: center;
}
.nav-item:focus,
.nav-item:active {
  padding: 0px;
  margin: 0px;
}
.nav-link {
  font-weight: 150;
  letter-spacing: 2px;
  font-size: .9em;
  padding: 4px 0px;
  margin: 10px 10px;
  color: var(--richBlack);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
}
.nav-link:after {
  position: absolute;
  color: var(--cutltured);
  content: "";
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--brightfuckingred);
  transition: transform 0.1s;
  transform: scaleX(0);
  transform-origin: top;
}
.nav-link:hover{
  text-decoration-color: var(--brightfuckingred);
  color: var(--cutltured);
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}
.nav-icon{
  font-size: 1.5rem;
  padding: 3px;
  color: var(--richBlack);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0ms;
  transition-timing-function: linear;
}
.nav-icon:hover, .nav-icon:after {
  filter: invert(60%) sepia(82%) saturate(6261%) hue-rotate(344deg) brightness(101%) contrast(114%);
}
 .container-xxl .list {
  text-align:left;
  display: table;
  margin: 0 auto;
}
.container-xxl a {
  text-decoration: none;
}
.container-xxl h1 {
  color:#e6e6e6;
  font-family: 'Merriweather', serif;
  font-size: 2em !important;
 }
 .feature {
  position:relative;
 }
.feature .box {
  top: -2em;
  position:relative;
  z-index: 3;
  text-align: bottom;
  display:block;
  height: 22em;
  background-color: var(--eerieBlack);
  text-decoration: none;
  margin-left: -10px;
  border-radius: 0px 0px 20px 20px;
  margin: auto;

}
.feature .row {
  justify-content:center;
}
.feature h3{
  margin-top: 3.5em;
  margin-inline-start: 5em;
  margin-bottom: 20px;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 3px;
  font-size: 1em;
  font-weight: 300;
  color: var(--cutltured);
}
.feature h4{
 padding: 2px;
}
.feature .capa {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: .40em;
  font-weight: 300;
}
.feature capa::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}
.feature .num{
  width:2%;
}
.feature .col-4 {
  text-align:left;
  width: 33.33%;
}
.feature a:link {
  text-decoration: none;
 }
.feature.container {
  display: flex;
 }
.box {
  opacity: 0;
  margin: 0 .75em 0 -.5em;
}
.block-capabilities .box li {
  vertical-align: middle;
  box-sizing: border-box;
  margin: 11px 27px 12px 22px;
  white-space: none;
  width: 80%;
  position: relative;
  top: 0;
  padding: 8px 12px 8px 30px;
  cursor: pointer;
  font-family: "harriet-display", Helvetica, serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  height: 105%;
}
.block-capabilities .box li span {
  position: absolute;
  left: 5px;  
  top: 10px;
  font-size: 28px;
  line-height: 15px;
  color: #949494;
}

.block-capabilities h3 {
  opacity: 0;
}
.block-capabilities .image, .corners-right {
 filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(200%);
}
.block-capabilities p {
  opacity: 1;
  max-width: 575px;
  margin-left: 8vh;
  font-size: .70em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.block-capabilities-expertise{
  position:relative;
  background-position:bottom left !important;
  overflow:hidden;
}
ul {
  margin: unset;
}
 ul a {
  text-decoration: none;
  color:#d3d3d3;
 }
 ul a:hover {  
  text-decoration: none;
  color:#eeeeee;
}
.bullets li:hover {
   text-decoration: none;
}
.block-capabilities {
  background-color:#858585;
  background-repeat:no-repeat !important;
  margin-top:0px;
}

.active {
  list-style-type: none;
  list-style-type:none;
  padding: 0 20px 0 20px;
  margin-bottom: 30px;
  overflow: visible;
  cursor: pointer;
  font-family: "harriet-display", Helvetica, serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  background-size: unset;
  background-size: 300px 200px !important;
  letter-spacing: 0.5px;
  border-radius: 34px;
  background-color: var(--grey);
  line-height: auto !important;
}
.bullets {
  list-style: none;
}

ul.bullets {
  display: inline-block;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  color: var(--lightGrey);
  font-family: "harriet-display", Helvetica, serif;
  font-weight: 100;
  font-style: italic;
  justify-content: left;
  font-size: 1.1em;
  position: relative;
  margin: 0 20px;
  padding: 0;
  list-style: none;
}
ul.bullets span{
  font-family: 'Merriweather', serif;
  font-size: 1.7em;
  font-style: italic;
  padding: 0;
  margin-right: 7px; 
}
ul.bullets .hidden {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position:relative;
  display:inline-block;
  transition: all 1s ease;
  position: absolute;
  top: -5px;
  right: 20px;
  bottom: -0px;
  left: -20px;
  width: 100%;  
  height: 20px;
  top: 8px;
  margin-left: 0px !important;
  opacity: 1;
  background-size:contain !important;
  filter: invert(12%) sepia(88%) saturate(6745%) hue-rotate(345deg) brightness(98%) contrast(108%);
  background: url('/img/smallArrows.svg') no-repeat;
}
li.item6 {
  position: absolute;
  left: 21px;
  display: table-cell;
}
.g-col-6 {
 margin-left: 60px;
}
.image{
  position:relative;
  margin: 20px 0px 0 0px;
  max-width: 150%;
  max-height: 70%;
  padding-top: 50%;
  background-size:contain !important;
  background-position:right bottom !important;
  background-repeat:no-repeat !important;
  margin-right:0px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(200%);
}  

.projects {
  display: inline;
  width:100%;
  clear:left;
  font-family: 'Playfair Display', 'Fanwood Text', serif;
  color: var(--richBlack);
}
.projects a {
  color: var(--greyBlack);
}
.projects p {
  margin: unset;
}
.projects h2 {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.project-thumb-bg{background-position:15px center !important;background-repeat:no-repeat !important;}@media (max-width:1023px){.project-thumb-bg{background-size:70% !important;}}@media (max-width:767px){.project-thumb-bg{background:transparent !important;}}.project-thumb-bg.bg-top{background-position:15px top !important;}.project-thumb-bg.bg-center{background-position:15px center !important;}.project-thumb-bg.bg-bottom{background-position:10px bottom !important;}.project-thumb-row{position:relative;z-index:5;}.project-thumb-row:before{content:'';position:absolute;top:40px;right:0;left:30px;bottom:60px;background:#fffdf8;z-index:4;}@media (min-width:768px){.project-thumb-row:before{top:0;right:auto;left:10px;bottom:90px;width:60%;}}@media (min-width:1024px){.project-thumb-row:before{bottom:130px;}}.project-thumb .img{position:relative;display:block;height:auto;background-position:center center !important;background-size:cover !important;overflow:hidden;}.project-thumb .img.corners-left{border-radius:0 8px 8px 0;}@media (min-width:768px){.project-thumb .img.corners-left{border-radius:8px 0 0 8px;}}@media (min-width:1200px){.project-thumb .img.corners-left{border-radius:8px;}}.project-thumb .img.corners-right{border-radius:0 8px 8px 0;}@media (min-width:1200px){.project-thumb .img.corners-right{border-radius:8px;}}.project-thumb .img.corners-top{border-radius:8px 8px 0 0;}.project-thumb .img.corners-all{border-radius:0 8px 8px 0;}@media (min-width:575px) and (max-width:767px){.project-thumb .img.corners-all{border-radius:0 8px 8px 0;}}@media (min-width:768px){.project-thumb .img.corners-all{border-radius:8px;}}.project-thumb .img:hover div,.project-thumb .img:focus div,.project-thumb .img.hover div{transform:scale(1.1);}.project-thumb .img div{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;position:absolute;top:-1px;left:30px;bottom:-1px;right:-1px;background-position:center center !important;background-size:cover !important;transform:scale(1);}.project-thumb .img img{width:70%;height:auto;opacity:0;}.project-thumb.orientation-horiz{max-width:495px;margin-left:-5px;}@media (min-width:768px){.project-thumb.orientation-horiz{max-width:740px;margin-left:0;margin-right:0;}.project-thumb.orientation-horiz .img{margin: left -1px;px;}}@media (min-width:1000px){.project-thumb.orientation-horiz{margin-left:0px;}.project-thumb.orientation-horiz .img{margin-left:-40px;}}@media (min-width:1400px){.project-thumb.orientation-horiz .img{margin-left:-180px;}}.project-thumb.orientation-vert{max-width:480px;margin-left:-16px;}@media (min-width:768px){.project-thumb.orientation-vert{margin-left:auto;margin-right:auto;}}.project-thumb.orientation-horiz-left{max-width:495px;margin-left:-16px;}@media (min-width:768px){.project-thumb.orientation-horiz-left{max-width:740px;margin-left:0;}.project-thumb.orientation-horiz-left .img{margin-left:-30px;}}@media (min-width:1200px){.project-thumb.orientation-horiz-left{margin-left:0px;}.project-thumb.orientation-horiz-left .img{margin-left:-80px;}}@media (min-width:1400px){.project-thumb.orientation-horiz-left .img{margin-left:-160px;}}.project-thumb.orientation-horiz-right{max-width:495px;margin-left:-16px;}@media (min-width:768px){.project-thumb.orientation-horiz-right{max-width:740px;margin-left:0;}.project-thumb.orientation-horiz-right .img{margin-left:0;margin-right:-30px;}}@media (min-width:1200px){.project-thumb.orientation-horiz-right{margin-left:0px;}.project-thumb.orientation-horiz-right .img{margin-right:-80px;}}@media (min-width:1400px){.project-thumb.orientation-horiz-right .img{margin-right:-160px;}}.project-thumb.orientation-vert-left{margin-left:-16px;}@media (min-width:768px){.project-thumb.orientation-vert-left{margin-left:0;}.project-thumb.orientation-vert-left .img{margin:0 auto;}}.project-thumb.orientation-vert-left .img{max-width:480px;}.project-thumb.orientation-vert-right{margin-left:-16px;}

@media (min-width:768px){.project-thumb.orientation-vert-right{margin-left:0;}.project-thumb.orientation-vert-right .img{margin:0 auto;}}.project-thumb.orientation-vert-right .img{max-width:480px;}@media (min-width:575px) and (max-width:767px){.project-thumb-bg .project-thumb.num-even,.project-thumb.num-odd{float:right;margin-left:0;margin-right:-30px;}.project-thumb-bg .project-thumb.num-even.orientation-vert-left,.project-thumb.num-odd.orientation-vert-left,.project-thumb-bg .project-thumb.num-even.orientation-vert-right,.project-thumb.num-odd.orientation-vert-right{max-width:480px;}.project-thumb-bg .project-thumb.num-even .img,.project-thumb.num-odd .img{border-radius:8px 0 0 8px !important;}}@media (min-width:575px) and (max-width:767px){.project-thumb.num-even{float:left;margin-left:-16px;}.project-thumb.num-even.orientation-vert-left,.project-thumb.num-even.orientation-vert-right{max-width:480px;}.project-thumb.num-even .img{border-radius:0 8px 8px 0 !important;}}.project-thumb .label{display:none;position:relative;z-index:5;font-family:'Arial Narrow'; transform: scale(1), 1); font-size:18px;line-height:28px;color:#191919;}.project-thumb .label:before{content:'';position:absolute;width:1px;background:#0f0f0f;opacity:0.5;}.project-thumb .label a{position:relative;color:#ffffff;}.project-thumb .label a:after{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;content:'';position:absolute;bottom:1px;left:0;right:0;height:1px;background:transparent;}.project-thumb .label a:hover:after,.project-thumb .label a:focus:after,.project-thumb .label a.hover:after{background:#000000;}.project-thumb .label h2{margin-bottom:12px;font-family:"harriet-display", Helvetica, serif;font-size:24px;line-height:36px;font-weight:300;letter-spacing:0.3px;font-weight:400;color:#f14e1b;}.project-thumb .label h2 a{color:#f14e1b;}.project-thumb .label h2 a:hover:after,.project-thumb .label h2 a:focus:after,.project-thumb .label h2 a.hover:after{background:#f14e1b;}.project-thumb .label p{margin:0 0 20px;font-family:"post-grotesk", Georgia, Arial, sans-serif;font-size:13px;line-height:20px;font-weight:300;color:#676767;}@media (min-width:768px){.project-thumb .label p{max-width:300px;}}.project-thumb .label p:last-child{margin:0;}.project-thumb.label-top .top,.project-thumb.label-bottom .bottom{display:inline-block;}.project-thumb.label-top .top,.project-thumb.label-bottom .top{padding-bottom:12px;}@media (min-width:768px){.project-thumb.label-top .top,.project-thumb.label-bottom .top{padding-bottom:22px;}}.project-thumb.label-top .top:before,.project-thumb.label-bottom .top:before{top:4px;bottom:-60px;}@media (min-width:768px){.project-thumb.label-top .top:before,.project-thumb.label-bottom .top:before{bottom:-70px;}}.project-thumb.label-bottom .bottom,.project-thumb.label-top .bottom{padding-top:12px;}@media (min-width:768px){.project-thumb.label-bottom .bottom,.project-thumb.label-top .bottom{padding-top:22px;}}.project-thumb.label-bottom .bottom:before,.project-thumb.label-top .bottom:before{bottom:4px;top:-60px;}@media (min-width:768px){.project-thumb.label-bottom .bottom:before,.project-thumb.label-top .bottom:before{top:-70px;}}.project-thumb.label-left-mobile{text-align:left;}.project-thumb.label-left-mobile .label{padding-left:15px;}@media (min-width:768px){.project-thumb.label-left-mobile .label{padding-left:0;}}.project-thumb.label-left-mobile .label:before{left:0px;}.project-thumb.label-right-mobile{text-align:right;}.project-thumb.label-right-mobile .label{padding-right:18px;}.project-thumb.label-right-mobile .label:before{right:0px;}@media (min-width:768px){.project-thumb.label-right-mobile .label{padding-right:0;}}@media (min-width:768px){.project-thumb.label-left-desktop{text-align:left;}.project-thumb.label-left-desktop .label{padding-left:18px;}.project-thumb.label-left-desktop .label:before{left:0px;}}@media (min-width:768px){.project-thumb.label-right-desktop{text-align:right;}.project-thumb.label-right-desktop .label{padding-right:18px;}.project-thumb.label-right-desktop .label:before{right:45px;}}.project-thumb-full{position:relative;max-width:1136px;margin:0 auto;}@media (min-width:768px){.project-thumb-full{display:flex;flex-direction:row;align-items:stretch;background:#fffdf8;}}.project-thumb-full:after{content:"";display:table;clear:both;}@media (min-width:768px){.project-thumb-full.label-left{flex:1;border-radius:0 12px 12px 0;}}.project-thumb-full.label-left .imagecol{float:right;}@media (min-width:768px){.project-thumb-full.label-left .imagecol{width:43.8%;margin-left:-30px;padding-top:100px;}}.project-thumb-full.label-left .img{margin-right:-30px;margin-top:0;}@media (min-width:768px){.project-thumb-full.label-left .img{margin-top:0;margin-bottom:-60px;margin-left:-30px;margin-right:0;}}@media (min-width:1200px){.project-thumb-full.label-left .img{margin-left:-125px;}}@media (min-width:1400px){.project-thumb-full.label-left .img{margin-left:-267px;}}.project-thumb-full.label-left .infocol{padding:40px 36px 55px 38px;}@media (min-width:768px){.project-thumb-full.label-left .infocol{width:56.2%;padding:90px 36px 90px 36px;}}@media (min-width:1200px){.project-thumb-full.label-left .infocol{padding:100px 50px 100px 170px;}}@media (min-width:768px){.project-thumb-full.label-right{flex:1;border-radius:12px 0 0 12px;}}.project-thumb-full.label-right:before{content:'';position:absolute;top:20px;bottom:0;left:-16px;right:-30px;background:#fffdf8;z-index:4;}@media (min-width:768px){.project-thumb-full.label-right:before{top:0;left:50%;right:auto;width:100%;}}.project-thumb-full.label-right .imagecol.top{display:block;}@media (min-width:768px){.project-thumb-full.label-right .imagecol.top{display:none;}}.project-thumb-full.label-right .imagecol.bottom{display:none;}@media (min-width:768px){.project-thumb-full.label-right .imagecol.bottom{display:block;}}.project-thumb-full.label-right .imagecol{margin-left:0;}@media (min-width:768px){.project-thumb-full.label-right .imagecol{padding-bottom:100px;padding-left:35px;}}.project-thumb-full.label-right .img{margin-right:-30px;margin-top:-40px;}@media (min-width:768px){.project-thumb-full.label-right .img{margin-top:-60px;margin-right:-30px;}}@media (min-width:1200px){.project-thumb-full.label-right .img{margin-right:-125px;}}@media (min-width:1400px){.project-thumb-full.label-right .img{margin-right:-232px;}}.project-thumb-full.label-right .infocol{padding:40px 36px 55px 38px;}@media (min-width:768px){.project-thumb-full.label-right .infocol{padding:90px 36px 90px 94px;}}@media (min-width:1200px){.project-thumb-full.label-right .infocol{padding:100px 50px 100px 130px;}}.project-thumb-full .imagecol{max-width:495px;padding-top:10px;float:right;}@media (min-width:768px){.project-thumb-full .imagecol{display:flex;flex-direction:column;width:50%;float:left;max-width:740px;margin-left:0;padding-top:0;}}.project-thumb-full .imagecol .img{position:relative;display:block;height:auto;background-position:center center !important;background-size:cover !important;overflow:hidden;}.project-thumb-full .imagecol .img:hover div,.project-thumb-full .imagecol .img:focus div,.project-thumb-full .imagecol .img.hover div{transform:scale(1.1);}.project-thumb-full .imagecol .img.transparent_bg div{transform:scale(1) !important;}.project-thumb-full .imagecol div{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;position:absolute;top:-1px;left:-1px;bottom:-1px;right:-1px;background-position:center center !important;background-size:cover !important;transform:scale(1);}.project-thumb-full .imagecol img{width:100%;height:auto;opacity:0;}.project-thumb-full .infocol{clear:both;}@media (min-width:768px){.project-thumb-full .infocol{display:flex;flex-direction:column;justify-content:center;clear:none;width:50%;float:left;}}.project-thumb-full .infocol .info{position:relative;}.project-thumb-full .infocol .info:before{content:'';position:absolute;top:4px;bottom:4px;left:-22px;width:3px;background:#e6e1d5;}.project-thumb-full .infocol h2{margin:0 0 8px 0;font-size:20px;line-height:24px;font-weight:400;color:#454545;}.project-thumb-full .infocol h2 a{position:relative;color:#454545;}.project-thumb-full .infocol h2 a:after{-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;content:'';position:absolute;bottom:1px;left:0;right:0;height:1px;background:transparent;}.project-thumb-full .infocol h2 a:hover:after,.project-thumb-full .infocol h2 a:focus:after,.project-thumb-full .infocol h2 a.hover:after{background:#585858;}.project-thumb-full .infocol ul{margin:0 0 30px 0;padding:0;list-style:none;}.project-thumb-full .infocol ul li{font-family:"post-grotesk", Georgia, Arial, sans-serif;font-size:13px;line-height:20px;font-weight:300;color:#676767;}.project-thumb-full .infocol p{max-width:500px;font-size:18px;line-height:26px;font-weight:300;letter-spacing:0.2px;color:#454545;}@media (min-width:1024px){.project-thumb-full .infocol p{line-height:28px;}}@media (min-width:768px){.project-thumb-full .infocol p{max-width:390px;}}.block-featured-projects .col1 .project-thumb:first-child{margin-top:0;}.block-featured-projects .col1 .project-thumb .offset{position:relative;padding-left:40px;padding-right:40px;}@media (min-width:415px) and (max-width:678px){.block-featured-projects .col1 .project-thumb .offset{padding-right:70px;padding-left:0;}}@media (min-width:768px){.block-featured-projects .col1 .project-thumb .offset{padding-left:10%;padding-right:0;}}.block-featured-projects .col2 .project-thumb{margin-top:44px;}@media (min-width:1200px){.block-featured-projects .col2 .project-thumb{margin-top:128px;}}.block-featured-projects .col2 .project-thumb .offset{padding-left:40px;padding-right:40px;}@media (min-width:415px) and (max-width:678px){.block-featured-projects .col2 .project-thumb .offset{padding-left:70px;padding-right:0;}}@media (min-width:768px){.block-featured-projects .col2 .project-thumb .offset{padding-left:14%;padding-right:0;}}.block-featured-projects .project-thumb.orientation-horiz{margin-left:-30px;}@media (min-width:575px){.block-featured-projects .project-thumb.orientation-horiz{margin-left:0;}}.block-all-projects .col1 .offset{position:relative;padding-left:35px;padding-right:35px;}@media (min-width:768px){.block-all-projects .col1 .offset{padding-left:18%;padding-right:0;}}.block-all-projects .col2 .offset{padding-left:35px;padding-right:35px;}@media (min-width:768px){.block-all-projects .col2 .offset{padding-left:52px;padding-right:0;}}@media (min-width:768px){.block-all-projects .col2 .project-thumb.orientation-vert-right{max-width:480px;margin:0 auto;}}.block-all-projects .project-thumb.label-top .top{display:none;}@media (min-width:768px){.block-all-projects .project-thumb.label-top .top{display:block;}}.block-all-projects .project-thumb.label-top .bottom{display:block;}@media (min-width:768px){.block-all-projects .project-thumb.label-top .bottom{display:none;}}.block-all-projects .project-thumb.label-top .top,.block-all-projects .project-thumb.label-bottom .top{padding-bottom:32px;}@media (min-width:768px){.block-all-projects .project-thumb.label-top .top,.block-all-projects .project-thumb.label-bottom .top{padding-bottom:42px;}}.block-all-projects .project-thumb.label-top .bottom,.block-all-projects .project-thumb.label-bottom .bottom{padding-top:32px;}@media (min-width:768px){.block-all-projects .project-thumb.label-top .bottom,.block-all-projects .project-thumb.label-bottom .bottom{padding-top:42px;}}body.search #search-page .offset{padding-left:35px;padding-right:35px;}@media (min-width:768px){body.search #search-page .offset{padding-left:52px;padding-right:0;}}@media (min-width:1300px){body.search #search-page .offset{padding-left:18%;}}body.search #search-page .project-thumb.orientation-horiz-right{margin-left:-30px;}@media (min-width:768px){body.search #search-page .project-thumb.orientation-horiz-right{margin-left:0;}}@media (min-width:768px){body.search #search-page .project-thumb.orientation-vert-right{max-width:480px;margin:0 auto;}}body.search #search-page .project-thumb.label-top .top{display:none;}@media (min-width:768px){body.search #search-page .project-thumb.label-top .top{display:block;}}body.search #search-page .project-thumb.label-top .bottom{display:block;}@media (min-width:768px){body.search #search-page .project-thumb.label-top .bottom{display:none;}}body.search #search-page .project-thumb.label-top .top,body.search #search-page .project-thumb.label-bottom .top{padding-bottom:32px;}@media (min-width:768px){body.search #search-page .project-thumb.label-top .top,body.search #search-page .project-thumb.label-bottom .top{padding-bottom:42px;}}body.search #search-page .project-thumb.label-top .bottom,body.search #search-page .project-thumb.label-bottom .bottom{padding-top:32px;}@media (min-width:768px){body.search #search-page .project-thumb.label-top .bottom,body.search #search-page .project-thumb.label-bottom .bottom{padding-top:42px;}}@media (min-width:768px){body.search #search-page p{max-width:440px;}}
.slide .text {
  color: white;
}
.projects .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.footer .container {
  max-width: 1320px;
  height: 2.5rem;
  bottom: 0;
}
.footerCerakotehref>img{
  max-height: 200px;
  max-width: 200px;
  float: center;
}
.line {
  content: '';
  padding-top: 3px;
  margin: 0 40px 0 40px;
  border-bottom: 0.07em solid #4f4e4e;
  top: 3%;
  bottom: 3%;
}
.first {
  display: table-cell;
  width: 30%;
}
.col-5 {
  width: 40%
}
.col-12 {
  position: relative;
  margin-left: 700px;
  margin-top: -150px;
}
.bigger:after{
  content:"";
  padding: 25px;  
  position: absolute;
  left: -25px;
  top: -25px;
} 



/*fix for collapsed menu on small width protrait screens */
@media screen and (min-width:1px) and (max-width:768px) {
 *{
  min-height: 0;
  min-width: 0;
 }

 #mainSlideShow {
  position: relative;
  background-color: #faf7f0 !important;
  background-size: cover !important;
  height: 140vw;
 } 
 nav.navbar {
  max-width: 92%;
 }
 .navbar-brand > img {
  margin: 0px 10px 0px 0px;
 }
 .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 420;
  letter-spacing: 4px;
  font-size: .55em;
  padding: 0px 0px;
  margin: 10px 10px;
  color: var(--cutltured);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
 }
  .nav-link:after {
   position: absolute;
   color: var(--cutltured);
   content: "";
   width: 65%;
   height: 3px;
   top: 100%;
   left: 17%;
   background: var(--brightfuckingred);
   transition: transform 0.1s;
   transform: scaleX(0);
   transform-origin: top;
  }
  .nav-link:hover{
   text-decoration-color: var(--brightfuckingred);
   color: var(--cutltured);
  }

  .nav-link:hover::after {
   transform: scaleX(.20);
   transform-origin: bottom;
  }
  
 .nav-icons {
    width: 8em;
  }
  .feature .box {
   
  }
  .box {
    text-align: center;
   }
 .container-fluid h1, h2, p{
  opacity: 0;
 }
 .container-xxl h2{
  text-align: left !important;
  justify-content: unset;
 }

 .feature .container-xxl {
  margin: auto;
 }
 .jumbotron h2 {
  font-size: 1.2em;
  margin-left: .2em;
 }
.container-xxl p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .6em;
  margin-left: 1em;
  padding-left: 8px; 
 }
 #features {
  width: 100%;
  margin-top: 0;
}
.feature.container {
  display:grid;
  width:90%;
}
.mt-5, pt-5, .mt-3, .pt-3 {
  margin-top: 2em;
}
.feature h3{
  text-align: left;
  font-family: 'Roboto';
  letter-spacing: 2px;
  margin-inline-start: 2em;
  font-size: .8em;
  font-weight: 400;
}
.feature .list {
  clear:left;
  height:unset;
  margin: 0 0 0 0;
}
.featurefbhref>img{
    max-height: 40px;
    max-width: 40px;
    float: center;
}
.feature .li {
  column-count:1;
}
.ms-5, .ps-5 {
  margin-left:unset !important;
  padding-left:unset !important;
}
.mt-5, .pt-5 {
  padding-top: 10px !important;
  margin-top: 10px !important;
}
.line {
    margin: 0 30px 0 30px !important;
}

.projects .container .row {
  justify-content: left;
  display: inline-block !important;
  column-count: 1 !important;
  clear:left;
  height: unset;
}
.list {
  padding-left: 50px;
  display: table;
}
.projects h2 {
  display: flex;
  margin: 0;
}
.projects p {
  padding-left: 20px;
}
.line {
  width: 70%;
}
.col-5 {
  width:100%;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
ul.bullets {
  column-count: 1;
  display: inline;
  font-size: .78em;
  padding: 0;
  margin:0 0 0 0;
}
ul.bullets .hidden {
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  position: relative;
  height: 20px;
  top: 10px;
  margin: 0;  
  opacity: 1;
  background-size:contain !important;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(200%);
  background: url('/img/smallArrows.svg') no-repeat;
}

ul.bullets:hover {
  padding: 0;
}
.g-col-6 {
  margin-left:20px;
}

.projects .row>* {
  max-width: 88%;
  }
.project-thumb {
 margin-bottom: 50px;
}
.active {
  width: 70%;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 5px 5px 5px 5px;
  background: var(--grey);
}
.slick-list {
    height: unset !important;
    width: unset !important;
    display:none;
}
.capabilities .container {
  margin: 0 0 0 -40px !important;
}
.block-capabilities .slideshow .image{
  position: relative;
  padding: 0 0 225px 147px;
  width: 356px;
  margin: -70px 0 0px 20px;
  height: 258px
}
}


/*fix for screen sizes */
@media screen and (min-width: 769px) and (max-width:1000px) {
  #mainSlideShow{
    height: 0;
    padding-top: 77%;
  }
  nav.navbar {
    max-width: 100%;
    justify-content: center;
   }
   .navbar-brand-text {
     font-size: .9em;
   }
   .nav-item {
    padding-top: 7px;
    font-size: 1em;
   }
   .navbar-collapse {
    flex-grow: unset;
   }

   .navbar-expand-md, .navbar-nav, .nav-link {
     padding: 0 5px 0 5px;
     margin: 0;
    }
   .nav-icon{
    display: list-row;
    text-align: center !important;
    justify-content: center !important;
   }
   .jumbotron {
     color: var(--cutltured);
     justify-content:center;
   }
   #mainSlideShow .container-xxl p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5em;
   }
  .feature .li {
    column-count:1;
  }
  .line {
    width: 70%;
  }
  .col-5 {
    width:50%;
  }
  .box {
    overflow-wrap: unset;
    margin-left: 20px;
  }
  ul.bullets {
    column-count: 1;
    display: inline;
    font-size: .6em;
    padding: 0;
    margin: 0;
  }

  ul.bullets .hidden {
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:relative;
    display:inline-block;
    width: 10px;
    height: 20px;
    top: 10px;
    margin-left: 14.5px !important;
    opacity: 1;
    background-size:contain !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(200%);
    background: url('/img/smallArrows.svg') no-repeat;
  }

  ul.bullets:hover {
    margin: 0;
    clear: left;
  }
  .block-capabilities .slideshow .image{position: relative;
    padding: 0 0 225px 147px;
    margin: 0 0 0px 38px;
    height: 258px
  }
  .active {
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    white-space: nowrap;
    padding: 0;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    background: var(--grey);
    width: 70%;
  }
}

/*fix for screen sizes */
@media screen and (min-width:1000px) and (max-width:1400px) {
  #mainSlideShow{
    height: 0;
    padding-top: 48%;
  }
    nav.navbar {
     max-width: 1000px;     
    }   
    .navbar-brand >img{
      float:left;
    }
    .navbar-brand.transparent {
      margin-right: 0em;
    }
    .navbar-brand-text{
    text-align: right;
    margin: 15px;
    }
    .navbar-text {
      float: right;
    }
    .nav-icon{
      padding: 0px;
    }
    div{
      position:relative;
    }
    .jumbotron {
      padding-top: 3.8=em;
      color: var(--cutltured);
    }
    .col-5 {
      margin-left: -10px;
      width:55%;
    }
    ul.bullets {
      font-size: .63em;
    }
    .col-12{
      width: 550px;
    }
    ul.bullets .hidden {
      -webkit-transition:all 1s ease;
      -moz-transition:all 1s ease;
      -o-transition:all 1s ease;
      transition:all 1s ease;
      position:relative;
      display:inline-block;
      width: 15px;
      height: 22px;
      top: 8px;
      margin-left: 9.9px !important;
      opacity: 1;
      background-size:contain !important;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(200%) contrast(200%);
      background: url('/img/smallArrows.svg') no-repeat;
    }
}
.arrows {
  content: ">>"
}
.push{
  transition: ease-in-out all .2s;
  padding-top: 202px;
  
}
.pushUp{
  transition: ease-in-out all .2s;
  padding-top: 0px;
}